ajouter-patient {
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
block-container st-emotion-cache-13ln4jf ea3mdgi5{
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.block-container st-emotion-cache-13ln4jf ea3mdgi5{
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}